<div>
  <div><h1>Log In</h1></div>
  <div class="logInContainer">
    <div id="user-data">
      <div class="form-data">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" name="email" />
      </div>
      <div class="form-data">
        <label for="Password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
        />
        <div>
          <a routerLink="/"><button style="float: left">Go Back</button></a>
          <a routerLink="/play">
            <button
              (click)="logInUser()"
              type="submit"
              value="submit"
              style="float: right"
            >
              Log In
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
