<!-- <div>
  <div><h1>Log In</h1></div>
  <div class="logInContainer">
    <div id="user-data">
      <div class="form-data">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" name="email" />
      </div>
      <div class="form-data">
        <label for="Password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          name="password"
        />
        <div>
          <a routerLink="/"><button style="float: left">Go Back</button></a>
          <a routerLink="/play">
            <button
              (click)="logInUser()"
              type="submit"
              value="submit"
              style="float: right"
            >
              Log In
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div> -->
<h1>Log In</h1>
<form
  #signInForm="ngForm"
  (ngSubmit)="signInForm.valid && onSubmit(signInForm)"
>
  <input
    type="text"
    name="email"
    #email="ngModel"
    [(ngModel)]="model.email"
    placeholder="Email"
    [pattern]="emailRegex"
    required
    [ngClass]="{ 'invalid-textbox': signInForm.submitted && !email.valid }"
  />
  <div *ngIf="signInForm.submitted && email.errors?.pattern">
    <label class="validation-message">Invalid email address.</label>
  </div>
  <input
    type="password"
    name="password"
    #password="ngModel"
    [(ngModel)]="model.password"
    placeholder="Password"
    required
    minlength="4"
    [ngClass]="{ 'invalid-textbox': signInForm.submitted && !password.valid }"
  />
  <div *ngIf="signInForm.submitted && password.errors?.minlength">
    <label class="validation-message">Minimum 4 characters.</label>
  </div>
  <input type="submit" value="Log In" />
</form>
<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">{{ serverErrorMessages }}</div>
