/* You can add global styles to this file, and also import other style files */
canvas {
  width: 100%;
  height: 100%;
  background: wheat;
}

.homeMessage {
  width: 100%;
  height: 100%;
  position: relative;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.left {
}

body,
html {
  height: 100%;
  margin: 0;
}
